:root {
	--color-blue-50: #eef3ff;
	--color-blue-100: #dce7ff;
	--color-blue-200: #b9cfff;
	--color-blue-300: #8eafff;
	--color-blue-400: #5b87f2;
	--color-blue-500: #2f5fd0;
	--color-blue-600: #123ba4;
	--color-blue-700: #0f3189;
	--color-blue-800: #102b70;
	--color-blue-900: #11265d;
	--color-blue-950: #091638;
	--primary: #123ba4;
}
